<h1>SEC Latest Filing Reports</h1>

<div>
    <table class='table' *ngIf="filingresults">
        <thead>
            <tr>
                <th>Ticker</th>
                <th>CIK</th>
                <th>Name</th>
                <th>Exchange</th>
                <th>Filings</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let result of filingresults">
                <td>{{ result.companyInfo.ticker }}</td>
                <td>{{ result.companyInfo.cik }}</td>
                <td>{{ result.companyInfo.name }}</td>
                <td>{{ result.companyInfo.exchange }}</td>
                <td><a href="{{ result.filings[0].reportOriginalUrl }}" target="_blank">{{ result.filings[0].filingDate }}-10-K</a></td>
            </tr>
            <tr>
                <td>
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="setPage(1)">First</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                        </li>
                        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                            <a (click)="setPage(page)">{{page}}</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="setPage(pager.currentPage + 1)">Next</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="setPage(pager.totalPages)">Last</a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--
<div>
    <table class='table' *ngIf="filingresults">
        <thead>
            <tr>
                <th>Ticker</th>
                <th>CIK</th>
                <th>Name</th>
                <th>Exchange</th>
                <th>Filings</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let result of filingresults">
                <td>{{ result.companyInfo.ticker }}</td>
                <td>{{ result.companyInfo.cik }}</td>
                <td>{{ result.companyInfo.name }}</td>
                <td>{{ result.companyInfo.exchange }}</td>
                <td><a href="{{ result.filings[0].reportOriginalUrl }}" target="_blank">{{ result.filings[0].filingDate }}-10-K</a></td>
            </tr>
        </tbody>
    </table>
</div>
-->