<h1>Public Companies</h1>

<p>This component demonstrates fetching data from the server.</p>

<div>
    <input maxlength='600' title='search' type='text' #searchInput />
    <button title="Search" type="submit" (click)="searchClick(searchInput.value)">Search</button>
</div>
<div>
    <!--
    <table class='table' *ngIf="companyresults">
        <thead>
            <tr>
                <th>Ticker</th>
                <th>CIK</th>
                <th>Name</th>
                <th>Exchange</th>
                <th>Filings</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let result of companyresults">
                <td>{{ result.companyInfo.ticker }}</td>
                <td>{{ result.companyInfo.cik }}</td>
                <td>{{ result.companyInfo.name }}</td>
                <td>{{ result.companyInfo.exchange }}</td>
                <td>
                    <select [(ngModel)]="filingDate" (change)="changeOption();">
                        <option selected="selected" value="">== 10-K ==</option>
                        <option *ngFor="let subItem of result['filings']" [ngValue]="subItem.filingDate">
                            <a href="{{ subItem.filingHref }}">{{ subItem.filingDate }}</a>
                        </option>
                    </select>
                    <ul>
                        <li *ngFor="let subItem of result['filings']"><a href="{{ subItem.filingHref }}">{{ subItem.filingDate }}</a></li>
                    </ul>                   
                </td>
            </tr>                           
        </tbody>
    </table>
-->
    <div *ngIf="companyresults">
        <div class="panel panel-default" *ngFor="let result of companyresults">
            <!-- Default panel contents -->
            <div class="panel-heading">Summary</div>
            <div class="panel-body">
                <p>Company Business Description</p>
                <p>Ticker: {{ result.companyInfo.ticker }}</p>
                <p>Name: {{ result.companyInfo.name }}</p>
                <p>Exchange: {{ result.companyInfo.exchange }}</p>
                <p>CIK: {{ result.companyInfo.cik }}</p>
            </div>
            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let subItem of result['filings']"><a href="{{ subItem.filingHref }}">{{ subItem.filingDate }}-10-K</a></li>
            </ul> 
        </div>
    </div>
</div>