<h1>Public Companies</h1>

<p>This component demonstrates fetching data from the server.</p>

<!--<p *ngIf="!companies"><em>Loading...</em></p>

<table class='table' *ngIf="companies">
    <thead>
        <tr>
            <th>Ticker</th>
            <th>CIK</th>
            <th>Name</th>
            <th>Exchange</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let company of companies">
            <td><a href="api/SECReport/GetByTicker?ticker={{ company.ticker }}">{{ company.ticker }}</a></td>
            <td>{{ company.cik }}</td>
            <td>{{ company.name }}</td>
            <td>{{ company.exchange }}</td>
        </tr>
    </tbody>
</table>-->

<div>
    <input maxlength='600' title='search' type='text' #searchInput />
    <button title="Search" type="submit" (click)="searchClick(searchInput.value)">Search</button>
</div>
<div>
    <table class='table' *ngIf="companyresults">
        <thead>
            <tr>
                <th>Ticker</th>
                <th>CIK</th>
                <th>Name</th>
                <th>Exchange</th>
                <th>Filings</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let result of companyresults">
                <td>{{ result.companyInfo.ticker }}</td>
                <td>{{ result.companyInfo.cik }}</td>
                <td>{{ result.companyInfo.name }}</td>
                <td>{{ result.companyInfo.exchange }}</td>
                <td>
                    <select [(ngModel)]="filingDate" (change)="changeOption();">
                        <option selected="" value="== 10-K =="></option>
                        <option *ngFor="let subItem of result['filings']" [ngValue]="subItem.filingDate">
                            {{ subItem.filingDate }}
                        </option>
                    </select>                   
                </td>
            </tr>
        </tbody>
    </table>
</div>