<h1>Public Companies</h1>

<p>This component demonstrates fetching data from the server.</p>

<div>
    <input maxlength='600' title='search' type='text' #searchInput />
    <button title="Search" type="submit" (click)="searchClick(searchInput.value)" autofocus>Search</button>
</div>
<div>
    <div *ngIf="companyresults">
        <div class="panel panel-default" *ngFor="let result of companyresults">
            
            <div class="panel-heading">Summary</div>
            <div class="panel-body">
                <p>Company Business Description</p>
                <p>Ticker: {{ result.companyInfo.ticker }}</p>
                <p>Name: {{ result.companyInfo.name }}</p>
                <p>Exchange: {{ result.companyInfo.exchange }}</p>
                <p>CIK: {{ result.companyInfo.cik }}</p>
            </div>

            <ul class="list-group">
                <li class="list-group-item" *ngFor="let subItem of result['filings']">
                    <a href="{{ subItem.reportOriginalUrl }}" target="_blank">{{ subItem.filingDate }}-10-K</a>
                </li>
            </ul> 
        </div>
    </div>
</div>